.fill-c46fd9ce { background-image: url(https://s3-alpha-sig.figma.com/img/bbd8/c6a2/7c90fe76ccd9ac2ddf401f20fbe5990d?Expires=1776038400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=SB9zIW2ABmxHYPDN03Op6jE0YVH3WiGJU1-PqCbkzSs1tCod~3v6ZZ9bTzXFRNldbtKWIIapozX2csws-DG4N2OQB05qcaXIO8NAZiE53TGDnz2fVA-EF1cWgj85BHaArCP3ro5XASktgkegCk6obL38hbqA~ZAg6CyaBpL4w~qmnLxt7cMboBV5rCDPy8n84OPW-pBoukL-5wxjFj9oaUSAqDT0BQg~wkt9rxeoiPHXoCnMwWCThNJGP180PpiYxvuKmAV4VXKUq1fIRPuc9t4seDRYiiXBvb8Z47lP7OO0-H6hcTjb05L3-m2k622qlViQWbbm3y1G3Eesg6RSdA__); background-size: cover; background-repeat: no-repeat; }
.fill-9d346570 { background-color: rgba(249, 250, 251, 0.30); }
.fill-eba1038c { background-image: url(https://s3-alpha-sig.figma.com/img/93c3/e499/09164db6e26b8c7511b250de96e3b49e?Expires=1776038400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=DrknQXurzZcNU3UQxKgZvO0m0Bts1lxctjJ1cy2-L88tElQdkZz5e6WnoiD8vchuNUawBSuE1SLFYVXU9Feoh1S8uflUXgYEwagXKvQduHCTfp3PAj~-M0kn4BnemMp-CVxjlplOiMUp5GFqHQ1fXjYlS9rlrj5Z6GwOtJR~9ZenoEy~58MNMwCOJSFfXYjmY4qSx7Qfh6rwMnokK2WRh6BNsl4OO8wicaYboxCWsT2rsU8yzok52~1mW0e8725KMbfb5ovSxCVavCKrfOQoghg9oBSkTtOF4IQ3WteexGMWeFckihZz66QZL0Vxt4fo4Qe72C7rNM8X8nx7PrYV4A__), linear-gradient(0deg, white, white); background-size: cover, auto; background-repeat: no-repeat, repeat; }
.effect-1d758bb5 { box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08); }
.paragraph-small-cn-semi-bold { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 600; line-height: 16px; display: flex; flex-direction: column; justify-content: center; color: #222727; word-wrap: break-word; }
.fill-84b1e18d { background-color: #222727; }
.fill-3e5a8f63 { background-color: transparent; }
.paragraph-small-cn-regular { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; display: flex; flex-direction: column; justify-content: center; color: rgba(34, 39, 39, 0.80); word-wrap: break-word; }
.fill-95905e28 { background-color: rgba(34, 39, 39, 0.80); }
.stroke-4c97f90b { outline: 1px solid rgba(34, 39, 39, 0.09); outline-offset: calc(1px / -2); }
.header-header-6-cn-semi-bold { font-family: "PingFang SC", sans-serif; font-size: 16px; font-weight: 600; line-height: 22px; display: flex; flex-direction: column; justify-content: center; color: #222727; word-wrap: break-word; }
.style-acb25d23 { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; display: flex; flex-direction: column; justify-content: center; color: rgba(34, 39, 39, 0.60); word-wrap: break-word; }
.fill-2a367981 { background-color: rgba(34, 39, 39, 0.60); }
.fill-dda5713a { background-color: rgba(255, 255, 255, 0.10); }
.stroke-8777e98b { border: 0.5px solid white; }
.style-bf25516a { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 600; line-height: 24px; text-align: center; color: #222727; word-wrap: break-word; }
.fill-49b886ba { background-image: linear-gradient(180deg, #323232 0%, #222222 100%); }
.effect-14a1bbbe { box-shadow: 0px 2px 4px -1px rgba(13.46, 13.46, 13.46, 0.50), inset 0px -1px 1.2000000476837158px 0.3499999940395355px #121212, inset 0px 0.5px 1px 0px rgba(255, 255, 255, 0.15); }
.heading-heading-strong { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 600; line-height: 20px; letter-spacing: -0.28px; text-align: center; color: #FCFCFC; word-wrap: break-word; }
.fill-ba9f047a { background-color: #FCFCFC; }
.fill-ee8f7403 { background-color: rgba(255, 255, 255, 0.70); }
.fill-f34c9aca { background-color: #F0F1F1; }
.fill-c5bd9241 { background-color: rgba(255, 255, 255, 0.80); }
.effect-6c3c6c6e { box-shadow: 0px 2px 4px 0px rgba(203.90, 211.66, 218.46, 0.30); }
.style-8ec8b036 { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 600; line-height: 16px; color: #222727; word-wrap: break-word; }
.style-eeee722e { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 600; line-height: 16px; color: rgba(34, 39, 39, 0.40); word-wrap: break-word; }
.fill-74d68d66 { background-color: rgba(34, 39, 39, 0.40); }
.fill-e4fc5a77 { object-fit: fill; }
.fill-2397d31b { background-image: linear-gradient(0deg, white, white), linear-gradient(130deg, white 0%, rgba(227.84, 240.34, 255, 0.91) 28%, rgba(211.88, 229.13, 255, 0.88) 47%, rgba(255, 255, 255, 0.84) 70%, rgba(189.56, 219.66, 255, 0.78) 100%); }
.stroke-6b9aa63c { border: 1px solid rgba(34, 39, 39, 0.09); }
.style-72dc8813 { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 600; line-height: 16px; color: rgba(34, 39, 39, 0.80); word-wrap: break-word; }
.effect-8cd0ef3c { backdrop-filter: blur(20px); }
.style-31ca6c6b { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 600; line-height: 16px; color: rgba(34, 39, 39, 0.60); word-wrap: break-word; }
.fill-2146c2a6 { background-color: white; }
.paragraph-regular-cn-semi-bold { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 600; line-height: 20px; color: #222727; word-wrap: break-word; }
.style-36ad7c7f { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 600; line-height: 20px; color: #121212; word-wrap: break-word; }
.fill-48d23903 { background-color: #121212; }
.stroke-30a9db13 { border: 1.25px solid rgba(0, 0, 0, 0); }
.stroke-2e198772 { outline: 4.5px solid #FFA900; }
.fill-c318cd7e { background-image: linear-gradient(0deg, #74BFDE, #74BFDE); object-fit: fill; }
.stroke-3072d91c { outline: 2.5px solid white; }
.fill-c59512f3 { background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)); background-blend-mode: normal, linear-dodge; }
.effect-2d9869da { box-shadow: inset 0px 0px 22px 0px #F2F2F2; backdrop-filter: blur(20px); }
.style-1b6bae6c { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; color: white; word-wrap: break-word; }
.fill-2582acf3 { object-fit: cover; }
.paragraph-small-en-regular { font-family: "Inter", sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; color: rgba(34, 39, 39, 0.80); word-wrap: break-word; }
.fill-b52b2510 { background-color: #E0E7FF; }
.style-6f0a9bbe { font-family: "PingFang SC", sans-serif; font-size: 12px; font-weight: 400; line-height: 16px; color: rgba(34, 39, 39, 0.60); word-wrap: break-word; }
.style-dbf2a96e { font-family: "PingFang SC", sans-serif; font-size: 11px; font-weight: 400; line-height: 16px; letter-spacing: 0.055px; display: flex; flex-direction: column; justify-content: center; color: rgba(0, 0, 0, 0.90); word-wrap: break-word; }
.fill-ea78b62e { background-color: rgba(0, 0, 0, 0.90); }
.fill-15cd8771 { background-color: #FEF3C7; }
.fill-11ece79e { background-image: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%); }
.stroke-6d8b57b6 { border: 1px solid rgba(246.03, 246.63, 248.41, 0.60); }
.effect-e23dc0a9 { box-shadow: 0px 1.25px 3px 0px rgba(50, 50, 50, 0.10); }
.fill-e0028269 { background-image: linear-gradient(0deg, white, white); }
.stroke-1b673134 { border: 1px solid #FFB31E; }
.style-97663856 { font-family: "DouyinSans", sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; text-align: center; color: #FFB31E; word-wrap: break-word; }
.fill-f86bb84a { background-image: linear-gradient(135deg, #FFB31E 8%, #4ED92C 23%, #4592F2 45%, #6E7CFD 66%, #E135F8 92%); }
.effect-2b7ef5c0 { text-shadow: inset 0px 0.579789936542511px 0.8696848750114441px 0px rgba(172.93, 182.05, 255, 0.30); }
.style-aa1e5153 { font-family: "PingFang SC", sans-serif; font-size: 20px; font-weight: 600; line-height: 28px; color: #121212; word-wrap: break-word; }
.fill-e4f3b790 { background-color: #FAFAFB; }
.style-36440479 { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 400; line-height: 23px; color: #222727; word-wrap: break-word; }
.fill-025d7b6c { background-color: #FBE7F3; }
.fill-b87d9386 { background-color: #ECF7ED; }
.fill-bf03af98 { background-color: #E8F5FB; }
.fill-00d565a8 { background-color: #E9E9E9; }
.style-ef5917f5 { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 400; line-height: 23px; color: rgba(34, 39, 39, 0.35); word-wrap: break-word; }
.fill-120d67dd { background-color: rgba(34, 39, 39, 0.35); }
.stroke-5ae4939e { border: 1px solid white; }
.style-109f59a5 { font-family: "PingFang SC", sans-serif; font-size: 24px; font-weight: 400; line-height: 36px; color: #2B2F36; word-wrap: break-word; }
.token-icon-n1 { background-color: #2B2F36; }
.style-e8c56db6 { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 300; line-height: 20px; text-align: center; color: rgba(34, 39, 39, 0.80); word-wrap: break-word; }
.fill-8bdf3cd5 { background-color: rgba(255, 255, 255, 0.49); }
.title-title { font-family: "PingFang SC", sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; letter-spacing: -0.3px; color: #2B2F36; word-wrap: break-word; }
.fill-e26fec56 { background-color: rgba(217, 217, 217, 0); }
.style-0c1ba72b { font-family: "PingFang SC", sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; letter-spacing: -0.3px; color: #8F959E; word-wrap: break-word; }
.token-icon-n3 { background-color: #8F959E; }
.layout-bb837f2e { position: relative; width: 24px; height: 24px; }
.layout-d88a026c { height: 16px; }
.node-5d0b01b8 { transform: rotate(-1.57deg); }
.layout-fc681865 { display: flex; flex-direction: row; gap: 11.999999300617674px; }
.layout-14de11d9 { white-space: nowrap; }
.layout-98f4bb24 { display: flex; flex-direction: column; gap: 2px; padding: 0px; position: relative; }
.layout-d84e269b { display: flex; flex-direction: row; gap: 12px; padding: 8px 24px; align-self: stretch; position: relative; }
.node-0efa739f { border-radius: 9999px; }
.layout-18896059 { display: flex; flex-direction: row; gap: 6px; padding: 6px 16px; position: relative; height: 36px; }
.node-7373b659 { border-radius: 8px; }
.layout-9ca15082 { display: flex; flex-direction: row; gap: 8px; padding: 8px 20px; position: relative; }
.node-276baa71 { border-radius: 10px; }
.layout-70f769b3 { display: flex; flex-direction: row; gap: 16px; padding: 0px; position: relative; flex: 1 1 0; height: 56px; }
.layout-d806c140 { overflow: hidden; position: relative; width: 16px; height: 16px; }
.layout-f29d9451 { display: flex; flex-direction: column; gap: 4px; padding: 2px 24px; align-self: stretch; position: relative; width: 96px; }
.node-ebb81608 { border-radius: 200px; }
.layout-34942cfe { position: relative; width: 20px; height: 20px; }
.node-d036e942 { opacity: 0.50; }
.layout-e9d6b19c { display: flex; flex-direction: column; gap: 2px; padding: 2px 24px; align-self: stretch; position: relative; width: 96px; }
.layout-db057e85 { display: flex; flex-direction: row; gap: 4px; padding: 6px; height: 56px; position: absolute; left: 806px; top: 13px; }
.node-53a60a32 { border-radius: 24px; }
.layout-5131ec74 { display: flex; flex-direction: row; gap: 24px; padding: 12px 24px; align-self: stretch; position: relative; }
.layout-f10560d0 { position: relative; width: 16px; height: 16px; }
.layout-075350ed { display: flex; flex-direction: row; gap: 8px; padding: 8px 24px 8px 20px; align-self: stretch; position: relative; }
.node-57a53e45 { border-radius: 100px; }
.layout-dcabcaaa { width: 80px; }
.layout-3660db7d { display: flex; flex-direction: row; gap: 8px; padding: 8px 24px 8px 20px; position: relative; }
.layout-cc216125 { display: flex; flex-direction: row; gap: 0px; align-self: stretch; }
.layout-421b6177 { display: flex; flex-direction: row; padding: 4px; position: relative; height: 40px; }
.layout-d1826a84 { width: 200px; height: 200px; }
.node-5f999f22 { border-radius: 36px; }
.layout-1beb1548 { display: flex; flex-direction: column; padding: 6px 16px; position: relative; width: 48px; height: 48px; }
.node-97cd670b { border-radius: 12px; }
.layout-5c20fe7c { display: flex; flex-direction: column; gap: 12px; padding: 0px; position: absolute; left: 221.98px; top: 26px; }
.layout-f3f7a698 { display: flex; flex-direction: row; gap: 24px; padding: 0px; position: relative; }
.layout-ee38a093 { display: flex; flex-direction: row; gap: 4px; padding: 0px; position: relative; width: 340px; height: 16px; }
.layout-c0234844 { width: 149.16px; }
.layout-fea5982a { display: flex; flex-direction: row; gap: 12px; padding: 10px 12px; align-self: stretch; position: relative; }
.layout-5ae4fbbf { display: flex; flex-direction: column; gap: 4px; padding: 0px; align-self: stretch; position: relative; }
.layout-37ee87f2 { flex: 1 1 0; }
.layout-31c2b86b { display: flex; flex-direction: column; gap: 24px; padding: 0px; align-self: stretch; position: relative; }
.layout-16ded9b6 { display: flex; flex-direction: column; gap: 24px; align-self: stretch; }
.layout-acf34319 { display: flex; flex-direction: row; gap: 8px; padding: 0px; position: relative; flex: 1 1 0; }
.layout-7b7eab3e { position: relative; }
.layout-41c77328 { display: flex; flex-direction: row; padding: 12px 0px 12px 0px; align-self: stretch; position: relative; }
.layout-758fe356 { position: absolute; left: 7.54px; top: 4.64px; }
.layout-1f7bc4fc { position: relative; width: 64px; height: 24px; }
.node-f8855d1f { border-radius: 0px 0px 16px 16px; }
.layout-e2780def { width: 64px; height: 64px; position: absolute; left: 0; top: -0.53px; }
.node-334f16f2 { border-radius: 16px; }
.layout-63a4e5da { display: flex; flex-direction: row; padding: 0px; position: relative; width: 64px; height: 64px; }
.layout-db7e036c { width: 64px; height: 64px; }
.layout-42ec8ba8 { display: flex; flex-direction: row; gap: 12px; padding: 6px 6px 16px 6px; align-self: stretch; position: relative; }
.layout-598b3b43 { width: 16px; height: 16px; }
.layout-1360e5e8 { display: flex; flex-direction: row; gap: 2px; padding: 0px 6px; position: relative; }
.layout-d7e342d1 { display: flex; flex-direction: row; padding: 0px; position: relative; flex: 1 1 0; }
.layout-beba2c59 { display: flex; flex-direction: row; gap: 4px; padding: 12px 0px 12px 0px; align-self: stretch; position: relative; }
.layout-f0dc6cac { display: flex; flex-direction: column; gap: 4px; align-self: stretch; }
.layout-f9a6315b { align-self: stretch; }
.layout-ec141b03 { display: flex; flex-direction: column; gap: 3px; padding: 0px; position: relative; flex: 1 1 0; }
.layout-f3719dd9 { display: flex; flex-direction: row; gap: 12px; padding: 12px 0px 12px 0px; position: relative; align-self: stretch; }
.layout-1868411c { display: flex; flex-direction: column; padding: 0px; align-self: stretch; position: relative; }
.layout-42771073 { height: 24px; flex: 1 1 0; }
.layout-58469ed0 { display: flex; flex-direction: row; align-self: stretch; flex: 1 1 0; }
.layout-181afc24 { display: flex; flex-direction: row; padding: 0px; position: relative; width: 58px; height: 24px; }
.node-362a0ad8 { border-radius: 5px; }
.layout-583b8342 { display: flex; flex-direction: column; gap: 10px; padding: 0px; align-self: stretch; position: relative; }
.layout-4131c6a8 { display: flex; flex-direction: column; gap: 4px; padding: 0px 0px 24px 0px; align-self: stretch; position: relative; }
.layout-c67d6163 { display: flex; flex-direction: row; gap: 4px; padding: 12px 0px; align-self: stretch; position: relative; }
.layout-896ff306 { display: flex; flex-direction: column; gap: 8px; padding: 0px 0px 12px 0px; position: relative; width: 360px; }
.layout-c0778ce2 { width: 380px; height: 88px; position: absolute; left: -4px; top: 798px; }
.layout-11753026 { display: flex; flex-direction: column; gap: 24px; padding: 0px 0px 24px 12px; align-self: stretch; position: relative; }
.layout-98e97e62 { width: 20px; height: 20px; position: absolute; left: 374px; top: 30px; }
.layout-20b9da82 { display: flex; flex-direction: column; gap: 24px; padding: 20px 24px; width: 420px; height: 969px; position: absolute; left: 0; top: -1px; overflow-y: auto; }
.node-1714fa15 { border-radius: 6px; }
.layout-f9125c86 { display: flex; flex-direction: row; gap: 12px; padding: 0px; position: relative; }
.layout-a09c9283 { position: relative; width: 36px; height: 36px; }
.layout-3715d6eb { position: relative; width: 14px; height: 14px; }
.layout-5ff81188 { display: flex; flex-direction: row; gap: 5px; padding: 0px; position: relative; }
.layout-e86d93c7 { display: flex; flex-direction: row; gap: 5px; padding: 8px 16px; position: relative; }
.node-9b381cfd { border-radius: 9.914408683776855px; }
.layout-adcef134 { display: flex; flex-direction: row; padding: 0px; align-self: stretch; position: relative; }
.layout-c33cf534 { display: flex; flex-direction: row; gap: 6px; padding: 0px; position: relative; }
.layout-273f33cc { display: flex; flex-direction: column; gap: 12px; padding: 10px 12px; align-self: stretch; position: relative; }
.layout-15116959 { display: flex; flex-direction: column; gap: 20px; align-self: stretch; }
.layout-802efc51 { display: flex; flex-direction: column; gap: 20px; padding: 0px; align-self: stretch; position: relative; }
.layout-9dfcf45f { display: flex; flex-direction: column; gap: 16px; padding: 20px 24px; width: 886px; height: 928px; position: absolute; left: 420px; top: 20px; }
.layout-a1dcf36b { overflow: hidden; position: relative; width: 1326px; height: 968px; }
.layout-10fa2df2 { width: 80px; height: 80px; }
.layout-4b8053e3 { display: flex; flex-direction: column; gap: 18px; padding: 0px; position: relative; }
.layout-1e22c6ae { width: 400px; }
.layout-3f5bb819 { display: flex; flex-direction: column; padding: 0px; position: relative; }
.layout-304cab61 { display: flex; flex-direction: column; gap: 12px; padding: 0px; position: relative; align-self: stretch; height: 194px; }
.layout-49e78301 { display: flex; flex-direction: row; gap: 8px; padding: 8px; align-self: stretch; position: relative; }
.layout-a343da96 { display: flex; flex-direction: column; gap: 20px; padding: 4px 12px; align-self: stretch; position: relative; }
.node-cd7e5e87 { border-radius: 39px; }
.layout-b4f5b478 { display: flex; flex-direction: column; gap: 12px; padding: 0px; position: relative; width: 400px; }
.layout-70825f2d { display: flex; flex-direction: column; gap: 40px; padding: 160px 0px 0px 0px; align-self: stretch; position: relative; flex: 1 1 0; }
.layout-740e1d9b { align-self: stretch; width: 51.36px; }
.node-1d6d37d9 { border-radius: 999px; }
.layout-caf799ae { display: flex; flex-direction: row; gap: 71px; padding: 0px; align-self: stretch; position: relative; }
.layout-f8fc01a5 { display: flex; flex-direction: column; gap: 16px; padding: 12px; align-self: stretch; position: relative; }
.layout-f2182b31 { display: flex; flex-direction: column; gap: 12px; padding: 0px; align-self: stretch; position: relative; max-width: 800px; width: 100%; }
.layout-60764986 { display: flex; flex-direction: column; padding: 0px 24px 0px 48px; position: relative; width: 546px; height: 968px; }
.layout-94650cf2 { display: flex; flex-direction: row; padding: 8px 24px 24px 24px; position: relative; width: 1920px; flex: 1 1 0; }
.layout-df329613 { display: flex; flex-direction: column; padding: 0px; position: relative; width: 1920px; height: 1080px; }
.layout-atom-55ac2161 { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.layout-atom-7b142f9f { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.layout-atom-59ee608d { display: flex; flex-direction: row; justify-content: center; align-items: center; }
.layout-atom-a985a620 { display: flex; flex-direction: row; justify-content: flex-end; align-items: center; }
.layout-atom-fc64a6e3 { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.layout-atom-ced602bb { display: flex; flex-direction: row; justify-content: center; align-items: flex-end; }
.layout-atom-3dabd2ba { display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; }
.layout-atom-54cbc08c { display: flex; flex-direction: column; justify-content: space-between; align-items: center; }
.layout-atom-f681fe9b { display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
.layout-atom-1ffe3aa3 { display: flex; flex-direction: row; justify-content: center; align-items: flex-start; }
.layout-atom-ec24b79e { display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; }
.layout-atom-8ec3781b { display: flex; flex-direction: row; justify-content: stretch; align-items: stretch; }
.layout-atom-dd910aef { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }
.layout-atom-ebe14385 { display: flex; flex-direction: row; justify-content: space-between; align-items: stretch; }
.layout-atom-90da2113 { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.layout-atom-eb552890 { display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; }
.layout-atom-5540b1ad { display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; }
.text_271dcd7a { font-family: "Inter", sans-serif; font-size: 12px; font-weight: 600; line-height: 16px; color: #222727; word-wrap: break-word; }
.text_e722a59c { font-family: "PingFang SC", sans-serif; font-size: 14px; font-weight: 400; line-height: 20px; color: #222727; word-wrap: break-word; }
